<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAQdxZCrPsKP4F_OmUR91HDMvIZQGyB2Wc</string>
	<key>GCM_SENDER_ID</key>
	<string>618613709520</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.maxoliinyk.Dormitory</string>
	<key>PROJECT_ID</key>
	<string>dormitory-57048</string>
	<key>STORAGE_BUCKET</key>
	<string>dormitory-57048.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:618613709520:ios:7ab31f0fdb0cf388a3dcd5</string>
</dict>
</plist>
